body {
    font-family: 'Helvetica', sans-serif;
    background-image: url('fondo01.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.jugador {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.carta {
    border: 3px solid #3498db;
    border-radius: 15px;
    padding: 20px;
    margin: 15px;
    width: 120px;
    text-align: center;
    background-color: #ecf0f1;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.carta:hover {
    transform: scale(1.1);
    border-color: #e74c3c;
}

.carta img {
    max-width: 80%;
    border-radius: 10px;
}

.atributs p {
    margin: 8px 0;
    font-size: 14px;
}

.seleccionada {
    background-color: #e74c3c;
    color: #fff;
    border-color: #c0392b;
}

button {
    background-color: #3eafd4;
    color: #fff;
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2ecc71;
}
